*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2E6CF;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
}
header{
    background-color: #254B5E;
    margin: 10px;
    border-radius: 20px;
}
.head{
    display: flex;
}
.head img{
    width: 330px;
    height: auto;
    margin-left: 40px;
}
.head h1{
    color: #F2E6CF;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 18px;
    margin-top: 52px;
}
.cic{
    width: 35px;
    height: 35px;
    border-radius: 90px;
    background-color: #A7D0D2;
    margin-top: 10px;
    margin-right: 10px;
}
.cic2{
    width: 20px;
    height: 20px;
    background-color: #A7D0D2;
    border-radius: 90px;
    margin-top: 39px;
    margin-right: 10px;
}
.tex{
    display: flex;
}
a{
    text-decoration: none;
}
.hov{
    text-decoration:underline;
}
.hov1:hover{
    color: #A7D0D2;
}
h2{
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    color: #254B5E;
}
h4{
    color: #254B5E;
    font-size: 21px;
    margin-left: 40px;
}
.bs{
    display: flex;
}
.section2{
    width: 50%;
}

.com{
    display: flex;
    flex-direction: column;
}
.section2{
    margin-top: 40px;
    text-align: center;
}
.section1{
    width: 50%;
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}
.textos{
    width: 450px;
    background-color: white;
    height: 250px;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 100px;
}
p{
    color: #254B5E;
    font-size: 20px;
}
.mot{
    width: 450px;
    background-color: white;
    height: 250px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 30px;
}
.button{
    background-color: #254B5E;
    color: white;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}
form{
    margin-top: 50px;
}
.date{
    border-color: #254B5E;
    background-color: #A7D0D2;
    color: #254B5E;
    width: 200px;
    height: 100px;
    font-size: 20px;
}
.sal{
    width: 150px;
    height: 60px;
    background-color: #254B5E;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.sal h3{
    color: white;
    text-align: center;
    padding-top: 18px;
}
.sal:hover{
    background-color: #A7D0D2;
}